{
    "RootNamespace": "Serene",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=Serene_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "GenericAPIPlatform",
            "ConnectionString": "Data Source=.; Initial Catalog=GenericAPIPlatform; Integrated Security=true",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.api_Fields",
                    "Identifier": "ApiFields",
                    "Module": "GenericAPIPlatform",
                    "ConnectionKey": "GenericAPIPlatform",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.api_Target",
                    "Identifier": "ApiTarget",
                    "Module": "GenericAPIPlatform",
                    "ConnectionKey": "GenericAPIPlatform",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.api_TargetFieldValues",
                    "Identifier": "ApiTargetFieldValues",
                    "Module": "GenericAPIPlatform",
                    "ConnectionKey": "GenericAPIPlatform",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.api_Headers",
                    "Identifier": "ApiHeaders",
                    "Module": "GenericAPIPlatform",
                    "ConnectionKey": "GenericAPIPlatform",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.api_Type",
                    "Identifier": "ApiType",
                    "Module": "GenericAPIPlatform",
                    "ConnectionKey": "GenericAPIPlatform",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\Serene\\Serene.Web\\Serene.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}