@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.GenericAPIPlatform.ApiTargetFieldValues.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serene.GenericAPIPlatform.ApiTargetFieldValuesGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>